.services-heading ::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: rgb(255, 255, 255);
    bottom: -11px;
    left: calc(50% - 20px);
  }

  .services-heading ::before{
    --tw-border-opacity: 1;
  
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(99 102 241 / var(--tw-border-opacity));
    bottom: -10px;
    left: calc(50% - 60px);
  }

  